# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
eggs/
*.so

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/